<section id="about" class="section">
  <h2 data-translationKey="page.about.title">About JSONUser</h2>

  <p data-translationKey="page.about.p_one">
    This site is a simple API that returns JSON data for testing and development
    purposes. As of now there is only one endpoint that returns a list of users.
    However, I plan to add more endpoints in the future. If you have any
    suggestions for endpoints, please let me know.
  </p>

  <a data-translationKey="to_top" class="to_top" href="#nav"><span>Up</span></a>
</section>
