<nav id="nav">
  <img src="/logo.png" alt="logo" />
  <h3>JSONUser</h3>
  <a data-translationKey="link.use" class="nav-link" href="#use"></a>
  <a data-translationKey="link.about" class="nav-link" href="#about"></a>
  <a data-translationKey="link.support" class="nav-link" href="#support"></a>
</nav>
