<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JsonUser 404</title>
    <script defer src="/index.js"></script>
    <link rel="stylesheet" href="/404style.css" />
  </head>
  <body>
    <h1>JsonUser 404</h1>
    <p>Page <span><%=urlHit%></span> not found</p>
    <a href="<%=host%>">Back to main page</a>
  </body>
</html>
