<section id="support" class="section">
  <h2 data-translationKey="page.support.title">Support Us</h2>

  <p>
    <span data-translationKey="page.support.s_one">
      If you have any questions or suggestions, please feel free to contact me      at</span
    >
    <a href="mailto:artiomoganesyan@gmail.com"> artiomoganesyan@gmail.com</a>.
  </p>

  <p>
    <span data-translationKey="page.support.s_two">
      Or you can contact me via
    </span>
    <a target="_blank" href="https://github.com/ArtiomOganesyan">github</a>
  </p>

  <a data-translationKey="to_top" class="to_top" href="#nav"><span>Up</span></a>
</section>
