#language-picker {
  position: fixed;
  top: 75px;
  right: 5rem;
  z-index: 100;
  width: 90px;
  height: 90px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  box-shadow: 0 0 5px #ccc;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s;
}

#language-picker > * {
  cursor: pointer;
  transition: all 0.3s;
}

#language-picker:hover {
  filter: drop-shadow(1rem 1rem 0.75rem);
  width: 95px;
  height: 95px;
}

#language-picker > *:hover {
  /* border-bottom: #646464 2px solid; */
  filter: drop-shadow(1rem 1rem 0.75rem);
  font-size: 1.1rem;
  font-weight: bold;
}
